<h1>Linux &gt; Windows</h1>
<p>Hi and welcome to the Lebbadi's website! Here are my different projects</p>
<ul>
	<li><a href='//radio.lebbadi.fr'>Radiology algorithms</a></li>
	<li><a href="//github.lebbadi.fr">My GitHub profile</a></li>
</ul>